@import './config';
@import './navbar';

.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // gap: 1rem;
    row-gap: 1rem;
}



.sidebar {
    grid-column: 1 / span 2;
    // grid-row: 3;
}

.chat {
    grid-column: 3 / span 12;
}