@import './config';
@import './navbar';
@import './sidebar';
@import './chat';

a {
    text-decoration: none;
}

.home {
    // display: grid;
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1rem;
    width: 100vw;
}

.home-web.chat {
    background: $secondDG-dark-color;
    place-items: center;
    padding-top: 120px;
    text-align: center;

    h1 {
        font-weight: lighter;
        margin-bottom: -10px;
    }

}

.landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient($primary-green 30%, $firstDG-dark-color 30%);
    display: flex;
    justify-content: center;
    align-items: center;


    img {
        width: 100px;
        height: 100px;
    }

    .whatsapp-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $firstDG-dark-color;
        height: 350px;
        width: 400px;
        background: white;
        border-radius: 1rem;
        padding: 1rem;

        button {
            padding: 1rem;
            background: $primary-green;
            outline: none;
            border: none;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            transition: all 300ms ease-in-out;

            &:hover {
                background: $dark-green;
            }
        }
    }

}

.sidebar {
    // grid-column: 1 / span 5;
    flex: 2;
    min-width: 400px;

}

.chat {

    // grid-column: 6 / span 12;
    width: 500px;
    flex: 5;
    min-width: 600px;
}

// @media screen and (min-width: 900px) {
//     .sidebar {
//         grid-column: 1 / span 4;

//     }

//     .chat {
//         grid-column: 5 / span 12;
//     }

// }